<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UTFEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <UTFEditor.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="HpWeaponColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="HpTurretColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="HpTorpedoColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="HpCMColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="HpMineColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="HpShieldColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="HpThrusterColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="HpTractorColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="HpHeadlightColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="HpDockLightColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="HpRunningLightColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="HpContrailColor" serializeAs="String">
                <value>Silver</value>
            </setting>
        </UTFEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
